openapi: 3.0.0
info:
  version: '0.1.0-alpha'
  title: bip.dev
  contact:
    email: dl@decenter.org
  description: |
    API documentataion for bip.dev

tags:
  - name: Price
    description: Price methods
  - name: Sell
    description: Sell methods
  - name: Buy
    description: Buy methods
servers:
  - url: 'https://api.bip.dev/api'

paths:
  /price:
    get:
      tags:
        - Price
      summary: Get current BIP price
      operationId: getPrice
      responses: 
        '200':
          description: Success
          content:
            application/json: 
              schema: 
                $ref: '#/components/schemas/Price'
              example: 
                price: 1141
                next_update: "2019-07-16T09:39:02.173431916Z"
  /priceChart:
    get:
      tags:
        - Price
      summary: Get history of BIP price
      operationId: getPriceChart
      responses: 
        '200':
          description: Success
          content:
            application/json: 
              schema: 
                $ref: '#/components/schemas/PriceChart'
  /minterDepositAddress:
    get:
      tags:
        - Sell
      summary: Get Minter deposit address (sell coins)
      operationId: getMinterDepositAddress
      parameters: 
        - name: bitcoinAddress
          in: query
          description: Bitcoin address
          required: true
          schema:
            type: string
        - name: coin
          in: query 
          description: Coin to sell
          required: true
          schema:
            type: string
        - name: price
          in: query
          description: Sell price
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MinterDepositAddress'
components:
  schemas:
    Price:
      type: object
      properties:
       data:
        type: object
        properties:
          price:
            description: Current price of BIP
            type: integer
            example: 3200
          next_update:
            description: Next price update
            type: string
            example: "2019-07-16T09:39:02.173431916Z"
    PriceChart:
      type: object
      properties:
       data:
        type: array
        items:
          type: object
          properties:
            price:
              description: Current price of BIP
              type: integer
              example: 3200
            timestamp:
              description: Next price update
              type: string
              example: "2019-07-16T09:39:02.173431916Z"
    MinterDepositAddress:
      type: object
      properties:
        data:
          type: object
          properties:
            address: 
              type: string
              example: "Mx153b3981c24804d3ef22da90a5b3fbc42c5b46ce"
            tag:
              type: string
              example: "IutO0NVePpoDiSZhXvtj"
