openapi: 3.0.0
info:
  version: '0.1.0-alpha'
  title: bip.dev
  contact:
    email: dl@decenter.org
  description: |
    API documentataion for bip.dev

tags:
  - name: Price
    description: Price methods
  - name: Sell
    description: Sell methods
  - name: Buy
    description: Buy methods
servers:
  - url: 'https://api.bip.dev/api'

paths:
  /price:
    get:
      tags:
        - Price
      summary: Get current BIP price
      operationId: getPrice
      responses: 
        '200':
          description: Success
          content:
            application/json: 
              schema: 
                $ref: '#/components/schemas/Price'
              example: 
                price: 1141
                next_update: "2019-07-16T09:39:02.173431916Z"
  /priceChart:
    get:
      tags:
        - Price
      summary: Get history of BIP price
      operationId: getPriceChart
      responses: 
        '200':
          description: Success
          content:
            application/json: 
              schema: 
                $ref: '#/components/schemas/PriceChart'
components:
  schemas:
    Price:
      type: object
      properties:
       data:
        type: object
        properties:
          price:
            description: Current price of BIP
            type: integer
            example: 3200
          next_update:
            description: Next price update
            type: string
            example: "2019-07-16T09:39:02.173431916Z"
    PriceChart:
      type: object
      properties:
       data:
        type: array
        items:
          type: object
          properties:
            price:
              description: Current price of BIP
              type: integer
              example: 3200
            timestamp:
              description: Next price update
              type: string
              example: "2019-07-16T09:39:02.173431916Z"
